/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
lightturquoise: rgb(96, 212, 214)

*/
@import 'fonts.css';

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
 	  box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
 }

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
    outline: none;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	/* -webkit-transition: all cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.3s;
    transition: all cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.3s; */
    /* for global transition but turned off for now */
    font-family: 'Neue Has Unica', sans-serif;
    letter-spacing: 0.35px;
}

.landing-page {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    z-index: 1;
    background-image: url(../img/assassinscreed-2.jpg);
}

#canvas--animated {
    filter: blur(0.5px);
}

.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-title__content {
    font-size: 5em;
    color: rgb(202, 33, 33);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.85);
    font-family: 'Assassins', sans-serif;
    font-weight: lighter;
    transition: all 0.4s ease;
    letter-spacing: -0.5px;
}

li.featured {
    transition: all 0.4s ease;
    cursor: pointer;
}

.featured path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

li.featured:hover path {
    animation: dashLine 1.75s cubic-bezier(.66,.01,.36,.98) alternate infinite;
}

li.featured:hover {
    transform: rotateY(180deg);
}

@keyframes dashLine {
    from {
        stroke-dashoffset: 1000;
        fill: rgba(96, 212, 214, 1);
    } to {
        stroke-dashoffset: 0;
        fill: rgba(96, 212, 214, 0);
    }
}

.top-nav {
    z-index: 2;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.top-nav__items {
    list-style: none;
    display: flex;
    align-items: center;
    flex: row nowrap;
    justify-content: space-around;
    font-size: 1.75em;
    width: 100%;
}

.top-nav li {
    text-transform: uppercase;
    margin-right: 2.5em;
    position: relative;
}

.top-nav__items > li:first-child {
    margin-right: auto;
    width: 150px;
}

.nav-item {
    padding: 0.5em 1.25em;
    position: relative;
    color: #000;
    transition: color ease 0.25s;
}

.nav-item:hover {
    color: #fff;
}

.nav-item::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    transition: height cubic-bezier(.58,.14,.32,.81) 0.25s;
    z-index: -1;
}

.nav-item::after {
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    background: transparent;
    border-bottom: 3px solid rgb(202, 33, 33);
    transition: width 0.25s 0.15s cubic-bezier(.58,.14,.32,.81);
    top: 0;
    left: 0;
}

.nav-item:hover::before {
    height: 100%;
}

.nav-item:hover::after {
    width: 100%;
}

/* ==========================================================================
   Section 1
   ========================================================================== */

.section {
    height: 100%;
    position: relative;
    background: #fff;
}

.section-title {
    text-transform: uppercase;
    font-size: 4em;
    color: #000;
    text-align: center;
    margin-bottom: 1em;
}

.section-1 .section-content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
}

.work {
    overflow: hidden;
    position: relative;
    outline: none;
    margin: 2em;
}

.work::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: background 0.2s ease;
}

.work:hover::before {
    background: rgba(12, 12, 12, 0.75);
}

.work img {
    width: 100%;
    min-height: 100%;
}

.work figcaption::after, .work figcaption::before {
    content: '';
    position: absolute;
    opacity: 0;
}

.work figcaption::after {
    width: 100%;
    height: 4.5em;
    background: rgba(0, 0, 0, 0.45);
    bottom: 0;
    left: 0;
}

.work figcaption::before {
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
    border-right: 1px solid rgb(202, 33, 33);
    border-left: 1px solid rgb(202, 33, 33);
    transform: scale(1, 0);
    transform-origin: 100% 0;
    transition: all 0.3s cubic-bezier(.66,.01,.36,.98);
}

.work:hover figcaption::after {
    transform: scale(1);
    opacity: 1;
}

.work__name {
    font-family: 'Neue Has Unica', serif;
    font-weight: lighter;
    position: absolute;
    color: #fff;
    z-index: 10;
    bottom: 0;
    right: 0.25em;
    transform: translateY(50%);
    text-transform: uppercase;
    font-size: 3em;
    opacity: 0;
    transition: all 0.35s cubic-bezier(.66,.01,.36,.98);
    margin: 0;
}

.october-beatz .work__name {
    font-size: 2.5em;
}

.work:hover .work__name {
    opacity: 1;
    transform: translateY(0);
}

.work {
    color: #fff;
    font-family: 'Raleway', serif;
    font-size: 1.5em;
    text-transform: uppercase;
    overflow: hidden;
}

.work__description {
    position: absolute;
    left: calc(-100% + 1em);
    top: 50%;
    transform: translateY(-50%);
    background: rgb(255, 255, 255);
    color: #000;
    padding: 0 0.2em;
}

.description__time {
    margin-top: 1%;
    transition: all 0.3s cubic-bezier(.66,.01,.36,.98);
}

.description__client {
    margin-top: calc(1% + 1.5em);
    transition: all 0.3s 0.1s cubic-bezier(.66,.01,.36,.98);
}

.description__category {
    margin-top: calc(1% + 1.5em * 2);
    transition: all 0.3s 0.2s cubic-bezier(.66,.01,.36,.98);
}

.work__description span {
    text-transform: none;
    color: rgb(202, 33, 33);
    font-size: 85%;
}

.work:hover .work__description {
    left: 1em;
}

/* ==========================================================================
   Section 2
   ========================================================================== */

.skill-menu {
    width: 300px;
    height: 200px;
    margin: 100px auto 100px;
    position: relative;
    -webkit-filter: url("../assets/filters.svg#goo");
    filter: url('../assets/filters.svg#goo');
    transform: translateZ(0);
}

.skill-menu__wrapper {
    position: absolute;
    left: 50%;
    bottom: 10px;
}

.skill-item__button,
.skill-item-bounce,
.menu-toggle {
    background: #000;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin-left: -80px;
    margin-top: -80px;
    border: none;
    outline: none;
    position: relative;
}

.skill-item__button {
    background: rgb(202, 33, 33);
}

.menu-toggle {
    position: absolute;
    top: 0;
    left: 0;
}

.menu-toggle-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skill-item__thumbnail {
    max-width: 80px;
}

.skill-menu__items {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.skill-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.skill-item-bounce {
    position: absolute;
    top: 0;
    left: 0;
}

.skill-item__button {
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    position: absolute;
    top: 0;
    left: 0;
    color: #ad4c4c;
}

.skill-item__button:hover {
    color: #fff;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
